@model MerchantMVC.ViewModels.EditLocationViewModel
@{
    ViewData["Title"] = "Add New Locatoin";
    Layout = "_LayoutV";
}

<h2>Add New Location </h2>
<p> </p>

<form asp-action="Create" asp-controller="Location" data-ajax-method="POST" data-ajax="true" data-ajax-update="#ajaxCreateLocation" data-ajax-mode="replace">
    <div id="ajaxCreateLocation">

        @await Html.PartialAsync("_PartialCreateLocation", Model)

    </div>
</form>


@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
