@model MerchantMVC.ViewModels.MainViewModel

@{
    ViewData["Title"] = "Feedback Questions";
    Layout = "_LayoutV";

}

<h2>Feedback Questions</h2>

<form asp-action="Index" data-ajax-method="POST" asp-controller="Feedback" data-ajax="true" data-ajax-update="#ajaxEditFeedback" data-ajax-mode="replace">
    <div id="ajaxEditFeedback">

        @await Html.PartialAsync("_PartialEditFeedback", Model)
    </div>
    <br />
    <br />
    <hr />
</form>


@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
