<table id="tblBatch" class="ui celled table" width="100%">
    <tr>
        <th>
            CutOff Date
        </th>
        <th>
            Transaction Count
        </th>
        <th>
            Batch Amount
        </th>
        <th>
            Terminal
        </th>
    </tr>
</table>

<script defer src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script defer src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $("#tblBatch").DataTable(
            {
                ajax: {
                    url: "../../Batch/GetBatchByLocationId",
                    data: { locationId: @ViewBag.locationId},
                    dataSrc: ''
                },
                scroller: true,
                deferRender: true,
                order: [[0, "desc"]],
                "columns":
                    [
                        { title: "CutOff Date", data: "formattedCuttOffDate" },
                        { title: "Transaction Count", data: "transactionCount" },
                        { title: "Batch Amount", data: "batchAmount" },
                        { title: "Terminal", data: "terminalDescription" }
                    ]
            }
        )
    })
</script>