@{ 
    ViewData["Title"] = "Electrum Loyalty Links";
    Layout = "_LayoutV";
}
<h2>@ViewData["Title"]</h2>
<div class="my-5 mx-2">
        <div class="col-12 pb-3">
            <h4><a href="https://www.electrumloyalty.com" target="_blank">Electrum Loyalty</a></h4>
            Visit Electrum Loyalty to see all of the products and services we provide.
        </div>
        <div class="col-12 pb-3">
            <h4><a href="https://navitex.navitascredit.com/resource_centers/Electrum_Corporation_CE" target="_blank">Electrum Credit Application</a></h4>
            Complete your credit application here.
        </div>
</div>