@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
   
}
.content {
    margin: 8%;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.05);
    border-color: #8dc73d;
    border-style: solid;
    border-width: thin;
}
.signin-text {
    font-style:normal;
    font-weight:600 !important;
    color:#426c14;

}
.form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: #8dc73d !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    color: #8dc73d;
    height: auto;
    border-radius: 0;
    background-color: #fff;
    background-clip: padding-box;
    margin-bottom: 10px;
}
    .form-control:focus {
        color: #007CB2;
        background-color: #fff;
        border-color:#fff;
        outline:0;
        box-shadow:none;

    }
    .btn-class{
        border-color:#007CB2;
        color:#007CB2;
    }
    .btn-class:hover{
        background-color:#007CB2;
    }